.body_bg{
  background-color: #222d32;
}
.panel .panel-title{
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
.mt-150{
  margin-top: 150px;
}
/* 侧边栏样式 */
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
}